@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
<div class="text-center" style="text-align: left;" >

        <h1 style="color: blue" class="display-4">Welcome</h1>
       <h1 class="display-4">WeASAAlcome</h1>
          <h1 class="display-4">Welcome</h1>
             <h1 class="display-4">Welcome</h1>
                <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="submit" value="aaaa">
</div>
</form>
